* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://64.media.tumblr.com/071bafb6cf5a4c23ed0622e32e8a1676/d3ceae7ff22efb6c-58/s400x600/f8b5ad9bc278ab02f28a8b8f4bf24dc819d97b81.gif');
    background-size: cover;
    font-family: Helvetica, sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}


.card {
    width: 320px;
    height: 230px;
    background-color: white;
    transition: all .5s;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #0005;
    gap: 20px
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

.card-description {
    position: relative;
}

.capa {
    width: 50px;
    height: 50px;
    border-radius: 10%;
}

.lyric {
    font-weight: bold;
    margin-top: 40px;
    margin-left: -70px;
}

.logo {
    width: 22px;
    height: 22px;
    margin-top: 38px;
    margin-left: -70px;
}
